<!doctype html>
<html>
<head>
    <title>音乐源数据</title>
    <meta charset="utf-8">
    <script src="static/scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="static/scripts/echarts.js"></script>
    <script src="static/scripts/infographic.js"></script>
    <script src="static/scripts/chart.js "></script>
    <link rel="stylesheet" href="static/css/test.css" />
</head>

<body >
    <div id="main"></div>
     <div id="second"></div>
     <!--<a href="/genre">hello</a>-->
</body>

</html>